{{#section 'head'}}
    <title>高考填报101_高考目标匹配</title>
    <meta name="keywords" content="高考,高考志愿填报,报考指南,招生,本科专业,录取分数线,985,211,重点大学,高考分数线">
    <meta name="description" content="高考填报101提供985/211重点本科大学高校高考招生分数线查询，包括：地区分数线，学校分数线，专业分数线。">
{{/section}}

{{> header}}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">做匹配</li>
        </ol>
    </nav>
</div>
<main role="main" class="container">
    <form>
        <p>
            将高考意向学校、意向专业添加为目标，和填入的高考分数做匹配，得到录取概率供参考。
        </p>
        <div class="form-group row">
            <div class="col-auto col-form-label-sm">
                {{#if goal.items}}
                    <label id="target">已添加 <span class="text-primary font-weight-bold">{{goal.items.length}}</span> 个目标</label>
                    (
                    {{#if goal.type1}}
                        <label>文科:{{goal.type1}}</label>
                    {{/if}}
                    {{#if goal.type2}}
                        <label>理科:{{goal.type2}}</label>
                    {{/if}}
                    {{#if goal.type3}}
                        <label>综合:{{goal.type3}}</label>
                    {{/if}}
                    |
                    高校目标:{{universityGoalSize}}
                    专业目标:{{majorGoalSize}}
                    )
                {{/if}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto">
                <label for="studentLocation" class="col-form-label-sm">考生所在地</label>
            </div>
            <div class="col-auto">
                <select id="studentLocation" class="form-control form-control-sm" name="sl">
                    {{#each location}}
                        <option value="{{code}}"{{selected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-auto">
                <label for="type" class="col-form-label-sm">文理科</label>
            </div>
            <div class="col-auto">
                <select id="type" class="form-control form-control-sm" name="type">
                    {{#each type}}
                        <option value="{{code}}"{{selected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-auto">
                <label for="score" class="col-form-label-sm">高考分数</label>
            </div>
            <div class="input-group-sm">
                <input id="inputScore" name="inputScore" type="number" class="text-danger form-control mx-sm-2 {{#if invalidScore}}is-invalid{{/if}}" placeholder="我的高考分数" {{#if usersetting.inputScore}}value="{{usersetting.inputScore}}"{{/if}} required>
                <label class="invalid-feedback">请输入合理的高考分数</label>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                {{#if goal.items}}
                    <button id="submitBtn" type="submit" class="btn btn-primary mb-1">做匹配</button>
                {{/if}}
                {{#unless goal.items}}
                    <label id="target">未添加目标</label>
                {{/unless}}
            </div>
            <div>
                <a href="/setGoal" class="btn btn-outline-primary btn-sm ml-2">跳转到目标设置页面</a>
                {{#if goalList}}
                    <button id="showDetails" type="button" class="btn btn-outline-primary btn-sm ml-2">显示历史数据</button>
                {{/if}}
            </div>
        </div>
    </form>
    <hr>
    {{#if goal.items}}
        {{#if goalList}}
            <div class="table-responsive-md">
                <table class="table table-bordered table-hover">
                    <caption>共匹配高校目标{{matchedUniversityGoalSize}}个，专业目标{{matchedMajorGoalSize}}个。匹配结果仅供参考。</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>高校名称</th>
                        <th>专业名称</th>
                        <th>年份</th>
                        <th>文理科</th>
                        <th>批次</th>
                        <th>录取最高分</th>
                        <th>录取最低分</th>
                        <th>录取平均分</th>
                        <th>批次线</th>
                        <th>匹配结果</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each goalList}}
                        <tr {{#unless isFirstLine}}class="text-muted" hidden{{/unless}}>
                            <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{universityName}}</td>
                        {{#if isMajorGoal}}
                                <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{majorName}}</td>
                        {{/if}}
                        {{#unless isMajorGoal}}
                                <td class="text-info {{#if isFirstLine}}table-info{{/if}}{{#unless isFirstLine}}text-muted{{/unless}}">大学录取线</td>
                        {{/unless}}
                            <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{year}}</td>
                            <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{studentType}}</td>
                            <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{batch}}</td>
                            <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{maxScore}}</td>
                            <td {{#if isFirstLine}}class="text-primary table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{minScore}}</td>
                            <td {{#if isFirstLine}}class="table-info"{{/if}}{{#unless isFirstLine}}class="text-muted"{{/unless}}>{{averageScore}}</td>
                            <td class="text-muted {{#if isFirstLine}}table-info{{/if}}">{{provinceLine}}</td>
                        {{#if isSafe}}
                                <td class="table-success">保底</td>
                        {{/if}}
                        {{#if isSteady}}
                                <td class="table-primary">稳妥</td>
                        {{/if}}
                        {{#if isRisky}}
                                <td class="table-warning">冲刺</td>
                        {{/if}}
                        {{#if isOut}}
                                <td class="table-secondary text-muted">高风险</td>
                        {{/if}}
                        {{#unless isFirstLine}}
                                <td></td>
                        {{/unless}}
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}
        {{#if isShowEmpty}}
            <p>未找到匹配目标数据，</p>
        {{/if}}
    {{/if}}

</main>
{{> footer}}

{{#section 'script'}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#showDetails').click(function () {
                var text = $(this).text();
                if (text == '显示历史数据') {
                    $(this).text('隐藏历史数据');
                    $('tr.text-muted').removeAttr("hidden");
                } else if (text == '隐藏历史数据') {
                    $(this).text('显示历史数据');
                    $('tr.text-muted').attr("hidden", true);
                }
            });
            $('#studentLocation').change(function () {
                $('form').submit();
            });
            $('#type').change(function () {
                $('form').submit();
            });
        });
    </script>
{{/section}}