{{#section 'head'}}
    <title>高考填报101_地区分数线查询</title>
    <meta name="keywords" content="高考,高考志愿填报,报考指南,招生,本科专业,录取分数线,985,211,重点大学,高考分数线,地区分数线">
    <meta name="description" content="高考填报101提供985/211重点本科大学高校高考招生分数线查询，包括：地区分数线，学校分数线，专业分数线。">
{{/section}}

{{> header}}
<main role="main" class="container">
    <form class="form-inline mt-4">
        <select name="location" class="custom-select mr-sm-2">
            <option value="">不限</option>
            {{#each location}}
                <option value="{{code}}">{{name}}</option>
            {{/each}}
        </select>
        <!--<input type="submit"/>-->
        <button type="submit" class="btn btn-primary">查询批次线</button>
    </form>
    <br>
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th></th>
            <th>年份</th>
            <th>地区</th>
            <th>文理分科</th>
            <th>批次</th>
            <th>分数线</th>
        </tr>
        </thead>
        <tbody>
        {{#each scoreline}}
            <tr>
                <td>{{no}}</td>
                <td>{{year}}</td>
                <td>{{location}}</td>
                <td>{{student_type}}</td>
                <td>{{batch}}</td>
                <td>{{socre}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</main>
{{> footer}}