{{#section 'head'}}
    {{#if seoTitle}}
        <title>{{seoTitle}}</title>
    {{/if}}
    {{#unless seoTitle}}
        <title>高考填报101_专业分数线查询</title>
    {{/unless}}
    {{#if seoKeywords}}
        <meta name="keywords" content="{{seoKeywords}}">
    {{/if}}
    {{#unless seoKeywords}}
        <meta name="keywords" content="高考,高考志愿填报,高考高校专业分数线,211,985,重点大学专业分数线,专业分数线">
    {{/unless}}
    <meta name="description" content="历年高考985/211重点高校专业分数线查询">
{{/section}}

{{> header}}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            {{#if major}}
                <li class="breadcrumb-item"><a href="/search/major">本科专业列表</a></li>
            {{/if}}
            <li class="breadcrumb-item active">专业分数线查询</li>
        </ol>
    </nav>
</div>
<main role="main" class="container">
    {{#if searchKey}}
        <p>查询专业名称：<strong>{{searchKey}}</strong></p>
    {{/if}}
    {{#if major}}
        <p>
            <strong>{{major.name}}</strong><br>
            同类专业：
            {{#each similarList}}
                <a class="mr-3" href="{{url}}">{{name}}</a>
            {{/each}}
        </p>
        <div class="d-flex justify-content-between mb-4">
            <div>
                <form class="form-inline" id="contentForm">
                    <div class="col-auto">
                        <label for="studentLocation" class="col-form-label-sm">考生所在地</label>
                    </div>
                    <select id="studentLocation" class="form-control form-control-sm" name="loc">
                        {{#each location}}
                            <option value="{{code}}"{{selected}}>{{name}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" name="code" value="{{code}}" />
                </form>
            </div>
            <div>
                {{#if resultList}}
                    <div class="text-right">
                        <button id="showDetails" type="button" class="btn btn-outline-primary btn-sm ml-2">显示历史数据</button>
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if resultList}}
            <div class="table-responsive-md">
                <table class="table table-bordered table-hover table-sm">
                    <caption>{{major.name}}专业分数线（注：只对 985/211 高校进行了匹配）</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>专业名称</th>
                        <th>高校所在地</th>
                        <th>高校名称</th>
                        <th>年份</th>
                        <th>文理科</th>
                        <th>批次</th>
                        <th>最高分</th>
                        <th>最低分</th>
                        <th>平均分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each resultList}}
                        <tr {{#if isFirstItem}}class="table-info"{{/if}}{{#unless isFirstItem}}class="text-muted" hidden{{/unless}}>
                            <td>{{../major.name}}</td>
                            <td>{{locNmae}}</td>
                            <td>{{university}}</td>
                            <td>{{year}}</td>
                            <td>{{type}}</td>
                            <td>{{batch}}</td>
                            <td>{{maxScore}}</td>
                            <td>{{minScore}}</td>
                            <td>{{aveScore}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}
        {{#unless resultList}}
            <p class="mb-5">未找到数据<span class="small text-muted">（注：只对 985/211 高校进行了匹配）</span></p>
        {{/unless}}
        <div class="text-md-right mb-3">
            <a href="/search/major">查看所有专业 >></a>
        </div>
    {{/if}}
    {{#unless major}}
        {{#if allList}}
            <p>本科专业列表{{#if searchKey}}未找到匹配专业。{{/if}}</p>
            <div class="mb-5">
                {{#each allList}}
                    <p>
                        <strong>★ {{name}}</strong>
                        {{#each subList}}
                            <br><span class="text-dark">☆ {{name}}</span><br>
                            <span class="mr-3 mt-0"><a href="{{url}}">{{name}}</a></span>
                            {{#each majorList}}
                                <span class="mr-3 mt-0"><a href="{{url}}">{{name}}</a></span>
                            {{/each}}
                        {{/each}}
                    </p>
                {{/each}}
            </div>
        {{/if}}

        {{#if someList}}
            <div>找到匹配专业 {{someLength}} 个，点击查看: </>
            <div class="mb-5">
                {{#each someList}}
                    <a class="mr-3" href="{{url}}">{{name}}</a>
                {{/each}}
            </div>
        {{/if}}
    {{/unless}}
</main>
{{> footer}}

{{#section 'script'}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchType').val("2");

            $('#showDetails').click(function () {
                var text = $(this).text();
                if (text == '显示历史数据') {
                    $(this).text('隐藏历史数据');
                    $('tr.text-muted').removeAttr("hidden");
                } else if (text == '隐藏历史数据') {
                    $(this).text('显示历史数据');
                    $('tr.text-muted').attr("hidden", true);
                }
            });
        });

        $('#studentLocation').change(function () {
            $('#contentForm').submit();
        });
    </script>
{{/section}}