{{#section 'head'}}
    <title>高考填报101_高考分数线趋势</title>
    <meta name="keywords" content="高考,高考志愿填报,报考指南,招生,本科专业,录取分数线,985,211,重点大学,高考分数线,设定高考目标,省控线,本科批次线,重点线,分数线分析,分数线趋势,招生趋势分析">
    <meta name="description" content="高考填报101提供985/211重点本科大学，本科批次分数线趋势查看和分析">
{{/section}}

{{> header}}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">看趋势</li>
        </ol>
    </nav>
</div>
<main role="main" class="container">
    <h4>地区分数线</h4>
    <p>
        录取线的全称是普通高校招生最低录取控制分数线。它是指省级招生部门根据当地全体考生当年高考成绩水平和国家下达的招生生源计划，相应确定的一个录取新生的最低成绩（总分）标准。
        <br>
        第一批（重点）本科控制线第一批本科控制线又称重点线，参与第一批录取的高校都是重点大学。这是重点院校录取的底线，只有上线考生才有被录取资格。
    </p>

    <ul>
        <li><a href="/trend/locationLine">本科批次线历史数据</a></li>
        <li><a href="/trend/locationLinePredict">2019本科批次线预测</a></li>
    </ul>
    <h5>分数线预测</h5>
    <div class="mt-3">通过构造 ARMA 时间序列模型，做出了各地区 <strong>2019</strong> 年重点线的预测。</div>
    <div class="table-responsive-md mt-1">
        <table class="table table-hover table-bordered table-sm">
            <caption>预测数据生成于2019年5月31日</caption>
            <tbody>
            <tr class="table-primary">
                <td>预测2019</td>
                {{#each table1}}
                    <td>{{name}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>文科</td>
                {{#each table1}}
                    <td>{{score1}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>理科</td>
                {{#each table1}}
                    <td>{{score2}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>综合</td>
                {{#each table1}}
                    <td>{{score3}}</td>
                {{/each}}
            </tr>
            <tr class="table-primary">
                <td></td>
                {{#each table2}}
                    <td>{{name}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>文科</td>
                {{#each table2}}
                    <td>{{score1}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>理科</td>
                {{#each table2}}
                    <td>{{score2}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>综合</td>
                {{#each table2}}
                    <td>{{score3}}</td>
                {{/each}}
            </tr>
            <tr class="table-primary">
                <td></td>
                {{#each table3}}
                    <td>{{name}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>文科</td>
                {{#each table3}}
                    <td>{{score1}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>理科</td>
                {{#each table3}}
                    <td>{{score2}}</td>
                {{/each}}
            </tr>
            <tr>
                <td>综合</td>
                {{#each table3}}
                    <td>{{score3}}</td>
                {{/each}}
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between">
        <h5>分数线趋势</h5>
        <a class="text-muted" href="/trend/locationLine">跳转到页面 >></a>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="text-center">历年各地文科重本线</div>
            <img size="100" src="/img/trend/arttype.jpg" alt="文科重本线" width="100%"/>
        </div>
        <div class="col-sm">
            <div class="text-center">历年各地理科重本线</div>
            <img src="/img/trend/engineerType.jpg" alt="理科重本线" width="100%"/>
        </div>
    </div>
    <p>
        左图显示了文科的高分内容，高分省份除去的单独考卷的海南和浙江，全国卷的山东、湖南、广东分数线最高，说明这部分地区高考竞争激烈。<br>
        右图显示了理科中的低分内容，可以看到今年的趋势是分数线整体降低，说明整体考卷越来越难。
    </p>
    <div class="mt-5"></div>

</main>

{{> footer}}